/* signup_style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.user-info {
    margin-bottom: 10px;
}

.user-info:last-child {
    margin-bottom: 0;
}

.user-info span {
    font-weight: bold;
    color: #333;
}

/* 你可以在这里添加更多的样式规则 */